.container {
  max-width: 300px;
  height: 600px;
  position: relative;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 212px;
  margin: 30px auto 0;
  height: 570px;
}

.section-1,
.section-2,
.section-3 {
  position: relative;
  left: -75px;
  display: flex;
  align-items: end;
}

.section-1 {
  top: -310px;
}

.section-2 {
  top: -215px;
}

.section-3 {
  top: -115px;
}

.wine,
.milk,
.cake,
.chese,
.beef,
.chicken,
.cheeps,
.pineapple,
.banana,
.apple,
.salad {
  position: absolute;
  cursor: grab;
}

.wine {
  left: 100px;
}
.milk {
  left: 140px;
}
.cake {
  left: 180px;
}
.chese {
  left: 230px;
}
.beef {
  left: 80px;
}
.chicken {
  left: 140px;
}
.cheeps {
  left: 200px;
}
.pineapple {
  left: 85px;
}
.banana {
  left: 130px;
}
.apple {
  left: 190px;
}
.salad {
  left: 230px;
}

.basket-1,
.basket-2,
.basket-3 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: end;
  position: relative;
  left: 40px;
}

.basket-1 {
  background-color: #91919100;
  top: -110px;
  z-index: 5;
}

.basket-2 {
  background-color: #934f4f00;
  top: -310px;
  z-index: 4;
}

.basket-3 {
  background-color: #76bd7f00;
  top: -510px;
  z-index: 3;
}

.basket-1 .wine,
.basket-1 .milk,
.basket-1 .cake,
.basket-1 .chese,
.basket-2 .beef,
.basket-2 .chicken,
.basket-2 .cheeps,
.basket-3 .pineapple,
.basket-3 .banana,
.basket-3 .apple,
.basket-3 .salad {
  display: block;
  position: static;
}

.basket-1 .item:nth-child(2),
.basket-2 .item:nth-child(2),
.basket-3 .item:nth-child(2) {
  transform: translatex(-10px);
}

.basket-1 .item:nth-child(3),
.basket-2 .item:nth-child(3),
.basket-3 .item:nth-child(3) {
  transform: translatex(-20px);
}

.basket-1 .item:nth-child(4),
.basket-2 .item:nth-child(4),
.basket-3 .item:nth-child(4) {
  transform: translatex(-30px);
}

.basket {
  position: relative;
  top: -695px;
  left: -30px;
  z-index: 100;
}

.btnPay {
  width: 174px;
  height: 56px;
  background-color: #fce000;
  border: #fce000;
  border-radius: 16px;
  font-family: YS Text, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.5%;
  position: absolute;
  bottom: 50px;
  left: 65px;
  z-index: 200;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 1s ease, opacity 1s ease-in-out;
  display: none;
}

.pulsate {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.btnPay-visible {
  display: block;
}

.btnPay:hover {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.btnPay:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 3px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}
